<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SIHLMOVE</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>SihlClient verbindet sich mit deinem Herzfrequenz-Brustgurt (z.B. Polar H10), um dein Training aufzuzeichnen.</string>
	<key>NSCameraUsageDescription</key>
	<string>SihlClient nimmt nach dem Training auf Wunsch ein Foto auf, das in deiner Trainings-Galerie erscheint.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SihlClient zeichnet deine Route bei Outdoor-Trainings auf (Joggen, Radfahren, Wandern).</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SihlClient wählt auf Wunsch ein Foto aus deiner Mediathek für deine Trainings-Galerie.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
